---
// @ts-expect-error wrong import here ...
import { Img } from "astro-imagetools/components";
import Layout from "../layouts/Layout.astro";
import { Client } from "@notionhq/client";
import type { RichTextItemResponse } from "@notionhq/client/build/src/api-endpoints";
import Footer from "../components/Footer.astro";
import { PERSONAL_INFO } from "../consts";

const notion = new Client({ auth: "secret_oalZVaQstgyGreyYVFdLCeT8KkdrAeTbZCeZMdPXTqK" });
//console.log(notion);
// const notion = new Client({
//   auth: "secret_oalZVaQstgyGreyYVFdLCeT8KkdrAeTbZCeZMdPXTqK",
// });

const list = await notion.databases.retrieve({
  database_id: "f14f1801015f48e5bd414a44be8d0038",
});

//console.log(list);

const response = await notion.databases.query({
  database_id: "f14f1801015f48e5bd414a44be8d0038",
  // database_id: "f14f1801015f48e5bd414a44be8d0038",
});
console.log("before const images");
const images = response.results
  .map((page) => {
    if ("properties" in page) {
      const title = page.properties.Title;
      if (title && "type" in title && title.type === "title") {
        //console.log("title.title[0]:", title.title[0].text.content);
        //console.log("text.link", title.title[0].text.link);
        //console.log("annotations", title.title[0].annotations);
        //console.log("href", title.title[1].href);
        //console.log("title.title:", title.title);

        //return title.title[0];
        const labelE = title.title[0].plain_text;
        const hrefE = title.title[1].href;
        //return {title.title[0].text.content, title.title[1].href}

        return { labelE, hrefE };
      }
    }
    return false;
  })
  .filter((title): title is RichTextItemResponse => !!title);
//.map((title) => {
//const separator = "https://";
//const [label = "", href] = title.plain_text.split(separator);
//return { label, href: `${separator}${href}` };
//return {
//  label,
//  href: "https://res.cloudinary.com/highflyer910/image/upload/v1504724712/01_miepg2.jpg",
//};
//const separator = "https://";
//const [label = "", href] = title.plain_text.split(separator);
//console.log(`label: ${label}, href: ${href}`);

//return { label, href: `${separator}${href}` };
//return {title.}
//});

//console.log(images);

const { title, subtitle } = PERSONAL_INFO;
---

<Layout title={title}>
  <div class="bg-stone-100 py-4 sm:py-6 lg:py-8 flex flex-col justify-between">
    <main class="mb-auto">
      <div class="my-8 sm:my-12">
        <h2
          class="text-midnight dark:text-midnight text-2xl lg:text-3xl text-center mb-4 md:mb-6 font-semibold"
        >
          {title}
        </h2>

        <p
          class="max-w-screen-md dark:text-midnight text-midnight md:text-lg text-center mx-auto"
        >
          {subtitle}
        </p>
      </div>

      <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
        <div
          id="my-gallery"
          class="pswp-gallery grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 md:gap-4 xl:gap-8 gallery"
        >
          {
            images.map((image) => (
              <a
                href={image.hrefE}
                data-cropped="true"
                data-pswp-width="1800"
                data-pswp-height="1100"
                
                class="group h-52 flex justify-end items-end bg-stone-100 overflow-hidden rounded-xl shadow-lg relative gallery-item hover:shadow-xl"
              >
                <div class="w-full flex object-cover absolute inset-0 group-hover:scale-110 transition duration-200 text-transparent">
                  <Img src={image.hrefE} alt={image.labelE} />
                </div>

                <div class="opacity-80 absolute inset-0 pointer-events-none group-hover:opacity-0 transition duration-200" />

                <span class="inline-block text-gray-300 text-xs md:text-sm border border-gray rounded-lg backdrop-blur relative px-2 md:px-3 py-1 mr-3 mb-3 group-hover:opacity-0 transition duration-200">
                  {image.labelE}
                </span>
              </a>
            ))
          }
        </div>
      </div>
    </main>

    <Footer />
  </div>
</Layout>
